// Place all the styles related to the RecipesController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recipes {
  display: grid;

  .recipe {
    border: black;
    border-style: inset;
    border-width: thin;
  }
}
